body{
  color:#333333;
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4 {
  color:#999999;
  font-family: 'Droid Sans', sans-serif;
}
h4 {
  color: #666666;
}
h1 {
  color:navy;
}
.active.md-button {
  background-color:navy;
  color:white;
}

.disabled {
  cursor: not-allowed;
  opacity: .8;
  border: solid thin lightgrey;
}
textarea {
  line-height: 1.2rem;
}
