<!DOCTYPE html>
<html lang="en" ng-app="Replication">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Locate Replications</title>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <style>
    section {
      width: 300px;
      height: 300px;

      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;

      margin: 2rem auto;
    }

    input {
      width: 240px;
      height: 34px;
      padding:.2rem;
      margin:1rem;
    }

    input[type="submit"] {
      background-color: #0B5A97;
      color:white;
      border-radius: .2rem;
      border: solid thin lightgrey;
    }

    input[type="submit"]:hover {
      background-color: #006cc7;
      color: white;
      border-radius: .2rem;
      border: solid thin lightgrey;
    }

    .field_set {
      border: solid 2px rgb(184, 184, 184);
    }

  </style>
</head>
<body>
<section>
  <form action="/reset-password?access_token=<%= accessToken %>" method="post">
    <fieldset class="field_set" style="padding:1rem; margin:1rem;background-color: #fafafa;">
      <legend class="md-title">Password Reset</legend>
      <div>
         <label for="password">New password</label>
         <input type="text" name="password">
      </div>
        <div>
          <label for="password">Confirm password</label>
          <input type="password" name="confirmation">
        </div>
      <div>
        <input type="submit" class="active" value="Update Password">
      </div>
    </fieldset>
  </form>
</section>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
</body>
</html>

