<div layout layout-align="center">
  <div layout style="width:1024px;height:auto;background-color:#0D4977;">
    <div style="width:100%;min-height:100vh;height:auto;background-color:white;">

      <!---success messages--->
      <div ng-if="meeting_confirmed" id="meeting_confirmed">
              <span
                style="background: rgba(215,213,211,0.61);border:solid thin #939393; padding:.5rem;margin:1rem;width:100%;">
                Meeting confirmed. Email sent to {{ meeting.email }}</span>
      </div>
      <md-content style="background-color:white;">
        <md-tabs md-dynamic-height="always" md-tab-scroll="never" md-border-bottom md-selected="selectedIndex"
                 md-stretch-tabs="always">
          <md-tab label="requested replications">
            <div ui-view name="requestedReplications" style="margin:.5rem;padding:1rem;"></div>
          </md-tab>
          <md-tab label="scheduled replications">
            <div ui-view name="scheduledReplications" style="margin:.5rem;padding:1rem;"></div>
          </md-tab>
          <md-tab label="unscheduled replication">
            <div ui-view name="unscheduledReplication" style="margin:.5rem;padding:1rem;"></div>
          </md-tab>
          <md-tab label="completed replications">
            <div ui-view name="completedReplications" style="margin:.5rem;padding:1rem;"></div>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
</div>


