<div class="md-padding" id="wrapper">
  <div ng-if="pageReload" id="pageReload"
       style="z-index:5; position:fixed; top:0; left:0; width:100%; height:100%;background-color:rgba(136,136,136,0.2)">
    <div layout="column" layout-align="center center"
         style="z-index:10; position: fixed; top: 30%; left: 30%;width:360px; height:200px; padding:.5rem;background-color: white;color:#3b3b3b;"
         md-whiteframe="3">
      <div layout layout-align="center center" style="margin-bottom:.8rem;">
        <div ng-if="showErrorIcon" ng-bind-html="icon"></div>
        <div class="md-subhead md-padding" ng-bind-html="pageMsg"></div>
      </div>
      <div ng-if="showLinearProgress" style="width:80%;">
        <md-progress-linear md-mode="indeterminate" class="md-warn md-hue-2"></md-progress-linear>
      </div>
    </div>
  </div>
  <div style="background-color:#0F4A78;width:100%;box-shadow:2px 2px 1px #888888;margin-bottom:1rem;padding: .1rem 0;">
    <p class="md-subhead" style="color:white;">Scheduled Meetings</p>
  </div>
  <div ng-if="meetings.length === 0" layout layout-align="center center"
       style="background-color: #EAEAEA;color:dimgrey;">
    <p>
      <em>
        There are no scheduled replications
      </em>
    </p>
  </div>
  <table ng-if="meetings.length > 0" cellpadding="2" cellspacing="0" border="0" width="100%;" style="margin-top:1rem;">
    <thead>
    <tr>
      <th align="left">Date & Time</th>
      <th align="left">DPS</th>
      <th align="left">Team Leader</th>
      <th align="left">Place</th>
      <th align="left">Address</th>
      <th align="left">Town</th>
      <th align="left"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="meeting in meetings | orderBy: 'meeting_datetime'" class="table_body">
      <td ng-bind="meeting.meeting_datetime | date:'short'"><em>empty</em></td>
      <td ng-bind="meeting.fname + ' ' + meeting.lname"></td>
      <td ng-bind="meeting.team_leader"><md-tooltip>{{meeting.team_leader_tel}}</md-tooltip></td>
      <td ng-bind="meeting.location_name || 'none'"></td>
      <td ng-bind="meeting.location"></td>
      <td ng-bind="meeting.town"></td>
      <td>
        <md-button class="md-raised info" ng-click="viewMeeting(meeting)"
                   style="font-size:10px;line-height:18px;min-height:24px!important;height:18px!important; min-width:18px!important;">
          View
        </md-button>
      </td>
    </tr>

    </tbody>
  </table>
  <div ng-if="meeting" layout="column" class="view" id="details" style="padding:1rem;">
    <div>
      <form name="replicationForm"
            ng-submit="sendEmail(response,meeting)">
        <fieldset class="field_set">
          <legend>Meeting Details</legend>
          <div layout="column">
            <div layout="column">
              <div>
                <div layout>
                  <span>Date: </span>
                  <span ng-bind="meeting.meeting_datetime  | date:'short'"></span>
                </div>
                <div layout>
                  <span>Team Leader: </span>
                  <span ng-bind=" meeting.team_leader"></span>
                </div>
                <div layout>
                  <span>Locate Technician: </span>
                  <span ng-bind="meeting.locate_technician"></span>
                </div>
                <div layout>
                  <span>Heath Damage Report: </span>
                  <span ng-bind="meeting.heath_report"></span>
                </div>
                <div layout>
                  <span>Facility: </span>
                  <span ng-bind="meeting.facility"></span>
                </div>
                <div ng-if="meeting.location_name" layout>
                  <span>Meeting Location: </span>
                  <span ng-bind="meeting.location_name || 'none'"></span>
                </div>
                <div layout>
                  <span>Address: </span>
                  <span ng-bind="meeting.location">
                <span ng-if="meeting.cross_street">@{{ meeting.cross_street }}</span>
                </span>
                </div>
                <div layout>
                  <span>Town: </span>
                  <span ng-bind="meeting.town"></span>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
