<div class="md-padding" id="wrapper">
  <div ng-if="pageReload"
       style="z-index:5; position:fixed; top:0; left:0; width:100%; height:100%;background-color:rgba(136,136,136,0.2)">
    <div layout="column" layout-align="center center"
         style="z-index:10; position: fixed; top: 30%; left: 35%;width:35%; height:20%; padding:.5rem;background-color: white;color:#3b3b3b;"
         md-whiteframe="3">
      <div layout layout-align="center center" style="margin-bottom:.8rem;">
        <div ng-if="showErrorIcon" ng-bind-html="icon"></div>
        <div class="md-subhead md-padding" ng-bind-html="pageMsg"></div>
      </div>
      <div ng-if="showLinearProgress" style="width:80%;">
        <md-progress-linear md-mode="indeterminate" class="md-warn md-hue-2"></md-progress-linear>
      </div>
    </div>
  </div>
  <div style="background-color:#0F4A78;width:100%;box-shadow:2px 2px 1px #888888;margin-bottom:1rem;padding: .1rem 0;">
    <p class="md-subhead" style="color:white;">Meeting Requests <span ng-if="requests.length > 0" class="md-caption">({{requests.length}})</span></p>
  </div>
  <div ng-if="!requests" layout layout-align="center center"
       style="background-color: #EAEAEA;color:dimgrey;">
    <p>
      <em>
        There are no meeting requests
      </em>
    </p>
  </div>
  <table ng-if="requests.length > 0" cellpadding="2" cellspacing="0" border="0" width="100%;" style="margin-top:1rem;">
    <thead>
    <th align="left">Status</th>
    <th align="left">Date / Time</th>
    <th align="left">Address</th>
    <th align="left">Town</th>
    <th align="left">Facility</th>
    <th align="left">Action</th>
    </thead>
    <tbody>
    <tr ng-repeat="request in requests | orderBy: 'meeting_datetime'" class="table_body">
      <td>
        <md-tooltip ng-if="request.schedule_status==='pending'" md-direction="right">Awaiting confirmation</md-tooltip>
        <md-tooltip ng-if="request.schedule_status==='proposed'" md-direction="right">Proposed new schedule</md-tooltip>
        <i ng-if="request.schedule_status==='pending'" class="material-icons" style="color:#009E5A;font-size:1.4rem;">new_releases</i>
        <i ng-if="request.schedule_status==='proposed'" class="material-icons" style="color:gray;font-size:1.4rem;">schedule</i>
      </td>
      <td ng-bind="request.meeting_datetime | date:'short'">
      </td>
      <td ng-bind="request.location"></td>
      <td ng-bind="request.town"></td>
      <td ng-bind="request.facility"></td>
      <td>
        <md-button class="md-raised info"
                   style="font-size:10px;line-height:18px;min-height:24px!important;height:18px!important; min-width:18px!important;"
                   ng-click="viewRequest(request)" layout layout-align="center center">
          view details
        </md-button>
      </td>
    </tr>
    </tbody>
  </table>
  <div ng-if="request" layout="column" id="details" style="margin-top:2rem;">
    <div layout="column" layout-align="space-around start" style="padding:.5rem;">

      <!--show meeting details-->
      <div layout="column" layout-align="center center" style="width: 100%;padding:.5rem;">

        <fieldset class="field_set" style="width: 100%;">

          <legend>DETAILS</legend>

          <div layout class="view">

            <div layout="column" class="md-padding" style="width:50%;">

              <div>

                <div layout>

                  <span>Date: </span>

                  <span ng-bind="request.meeting_datetime | date:'short'"></span>

                </div>

                <div layout>

                  <span>Team Leader: </span>

                  <span ng-bind="request.team_leader"></span>

                </div>

                <div layout>

                  <span>Locate Technician: </span>

                  <span ng-bind="request.locate_technician"></span>

                </div>

                <div layout>

                  <span>Heath Damage Report: </span>

                  <span ng-bind="request.heath_report"></span>

                </div>

                <div layout>

                  <span>Facility: </span>

                  <span ng-bind="request.facility"></span>

                </div>

                <div ng-if="request.location_name" layout>

                  <span>Meeting Location: </span>

                  <span ng-bind="request.location_name"></span>

                </div>

                <div layout>

                  <span>Address: </span>

                  <span ng-bind="request.location">

                <span ng-if="request.cross_street">@ {{ request.cross_street }}</span>

                </span>

                </div>

                <div layout>

                  <span>Town: </span>

                  <span ng-bind="request.town"></span>

                </div>

              </div>

              <div>

                <div layout layout-align="start center" style="margin-top:1rem;">


                  <md-button class="md-raised active" ng-click="confirmMeeting(request)">SCHEDULE</md-button>
                  <md-button class="md-raised info" ng-click="declineMeeting(request)">DECLINE
                  </md-button>

                </div>

              </div>

            </div>

            <div layout="column" class="md-padding" style="border-left:solid thin lightgray;max-width:50%;">

              <div style="height:100%;width:100%;">

                <div>
                  <div ng-init="showUpcomingMeetings = true">
                    <div layout layout-align="space-around center"
                         style="width:100%;margin:.5rem;border-bottom:solid thin lightgrey;padding:.5rem">

                      <a href="" ng-click="showRescheduleForm = 0;showUpcomingMeetings = 1;"

                         ng-class="{activePageLink: showUpcomingMeetings, inactivePageLink: !showUpcomingMeetings}"

                         style="text-decoration:none;padding:.5rem;">UPCOMING</a>

                      <a href="" ng-click="showUpcomingMeetings = 0;showRescheduleForm = 1"

                         ng-class="{activePageLink: showRescheduleForm, inactivePageLink: !showRescheduleForm}"

                         style="text-decoration:none;padding:.5rem;">RESCHEDULE</a>

                    </div>
                    <div ng-if="showUpcomingMeetings" layout="column" style="width:100%;">

                      <div ng-if="!meetings" layout layout-align="center center" class="md-body-2"
                           style="background-color:lightgrey; color:dimgrey;width:100%;padding:1rem 0;margin:1rem;">

                        <em>There are no scheduled replications</em>

                      </div>

                      <table ng-if="meetings.length > 0" cellpadding="2" cellspacing="2"
                             style="table-layout: fixed;margin-top:1rem;width:100%;">
                        <thead>
                        <th align="left">Date</th>
                        <th align="left">Location</th>
                        <th align="left">Town</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="meeting in meetings | orderBy: 'meeting_datetime'" class="table_body">
                          <td align="left" class="md-caption" ng-bind="meeting.meeting_datetime | date:'short'"
                              style="word-wrap: break-word"></td>
                          <td align="left" class="md-caption" ng-bind="meeting.location"
                              style="word-wrap: break-word"></td>
                          <td align="left" class="md-caption" ng-bind="meeting.town" style="word-wrap: break-word"></td>
                        </tr>
                        </tbody>
                      </table>

                    </div>
                    <div ng-if="showRescheduleForm">
                      <div layout="column" style="width:100%;" id="reschedule">

                        <span style="width:100%;"><strong>When will you be able to meet?</strong></span>


                        <div layout style="width:100%;">

                          <input class="form-control"

                                 placeholder="Select a date..."

                                 moment-picker="request.stringDate"

                                 locale="en"

                                 format="lll"

                                 min-view="month"

                                 min-date="today"

                                 max-date="oneWeek"

                                 autoclose="true"

                                 today="true"

                                 keyboard="true"

                                 ng-model="request.momentDate"

                                 ng-model-options="{ updateOn: 'blur' }"

                                 width="100%"/>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div>

                <div ng-if="showRescheduleForm" layout layout-align="start center" style="margin-top:1rem;">

                  <md-button class="md-raised active" ng-click="propose(request)">RESCHEDULE

                  </md-button>

                </div>

              </div>

            </div>

          </div>

        </fieldset>

      </div>

    </div>
  </div>
</div>





