<div layout layout-align="center" style="width:100%;">
  <div layout="column" layout-align="start center" style="width:100%;">
    <div layout layout-align="center start" style="width:100%;">
      <div class="md-padding" style="width:900px;">
        <div layout layout-align="end end" style="margin-bottom:2rem;">
          <div layout layout-align="center center" style="width:100%;">
            <!---success messages--->
            <div ng-if="meeting_confirmed" id="meeting_confirmed">
              <span
                style="background: rgba(215,213,211,0.61);border:solid thin #939393; padding:.5rem;margin:1rem;width:100%;">Meeting confirmed. Email sent to {{ meeting.team_leader_email }}</span>
            </div>
            <div ng-if="meeting_proposed" id="new_proposal">
              <span
                style="background: rgba(215,213,211,0.61);border:solid thin #939393; padding:.5rem;margin:1rem;width:100%;">Email sent to {{ team_leader_email }}</span>
            </div>
          </div>
        </div>
        <md-content>
          <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
            <md-tab label="Requested" >
              <md-tab-body >
                <div layout layout-align="end center" class="md-padding" >
                  <div layout layout-align="start center">
                    <div class="response_required"></div>
                    <span class="md-caption">atmos response needed</span>
                  </div>
                  <div layout layout-align="start center">
                    <div class="pending_response"></div>
                    <span class="md-caption">pending heath response</span>
                  </div>
                </div>
                <table cellpadding="2" cellspacing="0" border="0" width="900">
                  <thead>
                  <th>Status</th>
                  <th>Date / Time</th>
                  <th>Team Leader</th>
                  <th>Place</th>
                  <th>Address</th>
                  <th>Town</th>
                  <th>Action</th>
                  </thead>
                  <tbody>
                  <tr ng-repeat="request in requests | orderBy: 'meeting_datetime'" class="table_body">
                    <td>
                      <div
                        ng-class="{response_required:request.schedule_status==='pending',pending_response:request.schedule_status==='proposed'}"></div>
                    </td>
                    <td>{{ request.meeting_datetime | date: 'short'}}
                    </td>
                    <td>{{ request.team_leader }}</td>
                    <td>{{ request.location_name }}</td>
                    <td>{{ request.location }}</td>
                    <td>{{ request.town }}</td>
                    <td>
                      <md-button class="md-raised md-warn"
                                 style="font-size:10px;line-height:18px;min-height:18px!important;height:18px!important; min-width:18px!important;"
                                 ng-click="sendData(request)" layout layout-align="center center">
                        view
                      </md-button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </md-tab-body>
            </md-tab>
            <md-tab label="Scheduled" ui-sref="authenticated.page.atmos.scheduled">
              <div ui-view></div>
            </md-tab>
            <md-tab label="Unscheduled" ui-sref="authenticated.page.atmos.unscheduled">
              <div ui-view></div>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
      <div>
      </div>
    </div>
    <!---show meeting details-->
    <div ng-if="selectedIndex === 0 && request" layout="column" class="view">

      <div>
        <fieldset class="field_set">
          <legend>Meeting Details</legend>
          <div layout>
            <div layout="column">
              <div>
                <div layout>
                  <span>Date: </span>
                  <span>{{request.meeting_datetime | date:'medium' }}</span>
                </div>
                <div layout>
                  <span>Team Leader: </span>
                  <span>{{ request.team_leader }}</span>
                </div>
                <div layout>
                  <span>Locate Technician: </span>
                  <span>{{ request.locate_technician }}</span>
                </div>
                <div layout>
                  <span>Heath Damage Report: </span>
                  <span>{{ request.heath_report }}</span>
                </div>
                <div layout>
                  <span>Facility: </span>
                  <span>{{ request.facility }}</span>
                </div>
                <div ng-if="request.location_name" layout>
                  <span>Meeting Location: </span>
                  <span>{{ request.location_name }}</span>
                </div>
                <div layout>
                  <span>Address: </span>
                  <span>{{ request.location }}
                <span ng-if="request.cross_street">@ {{ request.cross_street }}</span>
                </span>
                </div>
                <div layout>
                  <span>Town: </span>
                  <span>{{ request.town }}</span>
                </div>
              </div>
              <div>
                <div layout layout-align="start center" style="margin-top:1rem;">

                  <md-button class="md-raised active" ng-click="confirmMeeting(request)">CONFIRM MEETING</md-button>
                </div>
              </div>
            </div>
            <div layout="column" style="border-left:solid thin lightgray;padding:.5rem;width:100%;">
              <div style="height:100%;">
                <div layout="column" style="width:100%;height:100%;">
                  <p><strong>Need to reschedule</strong></p>
                  <p style="width:100%;"><strong>When will you be able to meet?</strong></p>

                  <div layout style="width:100%;">
                    <input class="form-control"
                           placeholder="Select a date..."
                           moment-picker="request.stringDate"
                           locale="en"
                           format="lll"
                           min-view="month"
                           autoclose="true"
                           today="true"
                           keyboard="true"
                           ng-model="request.momentDate"
                           ng-model-options="{ updateOn: 'blur' }"
                           width="100%"/>
                  </div>
                </div>
              </div>
              <div>
                <div layout layout-align="start center" style="margin-top:1rem;">
                  <!--html-->
                  <md-button class="md-raised info" ng-click="propose(request,proposed)">PROPOSE NEW SCHEDULE
                  </md-button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>


