<div class="md-padding" id="wrapper">
  <div ng-if="pageReload"
       style="z-index:5; position:fixed; top:0; left:0; width:100%; height:100%;background-color:rgba(136,136,136,0.2)" id="pageReload">
    <div layout="column" layout-align="center center"
         style="z-index:10; position: fixed; top: 30%; left: 40%;width:30%; height:15%; padding:.5rem;background-color: white;color:#3b3b3b;"
         md-whiteframe="3">
      <div layout layout-align="center center" style="margin-bottom:.8rem;">
        <div ng-if="showErrorIcon" ng-bind-html="icon"></div>
        <div class="md-subhead md-padding" ng-bind-html="pageMsg"></div>
      </div>
      <div ng-if="showLinearProgress" style="width:80%;">
        <md-progress-linear md-mode="indeterminate" class="md-warn md-hue-2"></md-progress-linear>
      </div>
    </div>
  </div>
  <div style="background-color:#0F4A78;width:100%;box-shadow:2px 2px 1px #888888;margin-bottom:1rem;padding: .1rem 0;">
    <p class="md-subhead" style="color:white;">Meeting Request Form</p>
  </div>
  <div layout layout-align="center">
    <div layout="column" layout-align="start center">

      <!--<div ng-if="showSuccessMsg" layout layout-align="center" id="successMsg">
        <span style="background: rgba(219,255,248,0.61);border:solid thin lightgrey; padding:.5rem;margin:1rem;width:100%;">Your meeting request has been emailed.</span>
      </div>-->
      <div layout>
        <div>
          <form name="meetingRequestForm" ng-submit="sendMeetingRequest(request)">
            <input ng-model="request.team_leader" type="hidden">
            <input ng-model="request.team_leader_email" type="hidden">
            <fieldset class="field_set" style="background-color: #eaeaea;">
              <legend>SELECT DPS</legend>
              <select ng-model="request.selected_dps" id="dps" required>
                <option ng-repeat="dps in atmos" ng-value="dps.email">{{ dps.fname }} {{ dps.lname }}</option>
              </select>
            </fieldset>
            <fieldset class="field_set" style="background-color: #eaeaea;">
              <legend>DATE & TIME</legend>
              <div layout style="width:100%;">
                <input class="form-control"
                       placeholder="Select a date..."
                       moment-picker="request.stringDate"
                       locale="en"
                       format="lll"
                       min-date="date"
                       min-view="month"
                       autoclose="true"
                       today="true"
                       keyboard="true"
                       ng-model="request.momentDate"
                       ng-model-options="{ updateOn: 'blur' }"
                       width="100%"/>
              </div>
            </fieldset>
            <fieldset class="field_set" style="background-color: #eaeaea;">
              <legend>LOCATION</legend>
              <div layout="column" class="row">
                <span style="margin-bottom:1rem;">Location</span>
                <div layout layout-align="start center" style="margin-bottom:1rem;">
                  <div layout="column">
                    <label for="street_number"><strong>Location Name</strong></label>
                    <input ng-model="request.location_name" type="text" id="location_name">
                  </div>
                </div>
                <div layout layout-align="space-between center">
                  <div layout="column">
                    <label for="street_number"><strong>Number</strong></label>
                    <input ng-model="request.street_number" type="number" id="street_number"
                           style="width:84px;"
                           required>
                  </div>
                  <div layout="column">
                    <label for="street"><strong>Street</strong></label>
                    <input ng-model="request.street_name" type="text" id="street" required>
                  </div>
                  <div layout="column">
                    <label for="street"><strong>Suffix</strong></label>
                    <select ng-model="request.street_suffix" name="street_suffix" id="street_suffix" required>
                      <option ng-repeat="suffix in suffixes | orderBy:'name'" value="{{ suffix.name }}">{{ suffix.name
                        }}
                      </option>
                    </select>

                  </div>
                </div>
              </div>
              <div layout layout-align="space-between center" class="row">
                <div layout="column">
                  <label for="cross_street"><strong>Nearest Cross Street</strong>
                    <small ng-if="!request.street_number"><em style="color:indianred;">*</em></small>
                  </label>
                  <input ng-model="request.cross_street" ng-init="request.cross_street = null;" type="text"
                         id="cross_street" ng-required="!request.street_number">
                </div>
                <div layout="column">
                  <label for="town"><strong>Town</strong></label>
                  <select ng-model="request.town" type="text" id="town" required>
                    <option ng-repeat="town in towns | orderBy: 'town'" value="{{ town }}">{{ town }}</option>
                  </select>
                </div>
              </div>
            </fieldset>
            <fieldset class="field_set" style="background-color: #eaeaea;">
              <legend>DAMAGE INFORMATION</legend>
              <div layout layout-align="space-between center">
                <div layout="column" class="row">
                  <span>Damge Report</span>
                  <div layout layout-align="start center">
                    <div layout="column" style="margin:1rem;padding:.5rem;">
                      <label for="heath_report"><strong>Number</strong></label>
                      <input ng-model="request.heath_report" type="number" id="heath_report" style="width:84px;" required>
                    </div>
                  </div>
                </div>
                <div layout="column" class="row">
                  <span>Facility</span>
                  <div layout layout-align="start center">
                    <div layout="column" style="margin:1rem;padding:.5rem;">
                      <label for="facility_size"><strong>Diameter</strong></label>
                      <select ng-model="request.facility_size" name="facility_size" id="facility_size" required>
                        <option ng-repeat="size in diameters" value="{{ size }}">{{ size }}</option>
                      </select>
                    </div>
                    <div layout="column">
                      <label for="facility_material"><strong>Material</strong></label>
                      <select ng-model="request.facility_material" name="facility_material" id="facility_material" required>
                        <option ng-repeat="material in materials" value="{{ material }}">{{ material }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div layout="column" class="row">
                <span>Locate Technician</span>
                <div layout layout-align="start center">
                  <div layout="column" style="margin:1rem;padding:.5rem;">
                    <label for="locate_technician_fname"><strong>First Name</strong></label>
                    <input ng-model="request.locate_technician_fname" id="locate_technician_fname" type="text" required>
                  </div>
                  <div layout="column">
                    <label for="locate_technician_lname"><strong>Last Name</strong></label>
                    <input ng-model="request.locate_technician_lname" id="locate_technician_lname" type="text" required>
                  </div>
                </div>
              </div>

            </fieldset>
            <div layout layout-align="center" style="width:720px;">
              <md-button ng-disabled="meetingRequestForm.$invalid" class="md-raised" ng-class="{'active':meetingRequestForm.$valid}" type="submit">SEND</md-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
