<table cellpadding="2" cellspacing="0" border="0" width="900">
  <thead>
  <th>Date / Time</th>
  <th>DPS</th>
  <th>Address</th>
  <th>Town</th>
  <th>Facility</th>
  <th>Technician</th>
  <th>Action</th>
  </thead>
  <tbody>
  <tr ng-repeat="replication in replications | orderBy: 'meeting_datetime'" class="table_body">
    <td>{{ replication.meeting_date | date: 'short'}}</td>
    <td>{{ replication.atmos_employee}}</td>
    <td>{{replication.street_number}} {{ replication.street_name }} {{replication.street_suffix}}</td>
    <td>{{ replication.town }}</td>
    <td>{{replication.facility_size}}{{replication.facility_material}}</td>
    <td>{{ replication.locate_technician }}</td>
    <td>
      <md-button class="md-raised"
                 style="font-size:10px;line-height:18px;min-height:18px!important;height:18px!important; min-width:18px!important;background-color:#444444;color:white;"
                 ng-click="viewReplication(replication)" layout layout-align="center center">
        view
      </md-button>
    </td>
  </tr>
  </tbody>
</table>
<div ng-if="selectedIndex === 2 && replication" layout="column" class="view" style="padding:1rem;">
  <fieldset class="field_set">
    <legend>Replication</legend>
    <div style="margin:1rem;">
      <div layout>
        <span>Replication Date: </span>
        <span>{{ replication.meeting_date | date:'MM/dd/yyyy' }}</span>
      </div>
      <div layout>
        <span>ATMOS REP.: </span>
        <span>{{ replication.atmos_employee }}</span>
      </div>
      <div layout>
        <span>Locate Technician: </span>
        <span>{{ replication.locate_technician }}</span>
      </div>
      <div layout>
        <span>Heath Damage Report: </span>
        <span>{{ replication.heath_report }}</span>
      </div>
      <div layout>
        <span>Facility: </span>
        <span>{{ replication.facility_size }} {{ replication.facility_material }}</span>
      </div>
      <div layout>
        <span>Address: </span>
        <span>{{ replication.street_number }} {{ replication.street_name }} {{ replication.street_suffix }} <span
          ng-if="replication.cross_street">@ {{ replication.cross_street }}</span></span>
      </div>
      <div layout>
        <span>Town: </span>
        <span>{{ replication.town }}</span>
      </div>
      <div layout>
        <span>Determination: </span>
        <span>{{ replication.atmos_determination }}</span>
      </div>
      <div layout>
        <span>Comments: </span>
        <span>{{ replication.atmos_comments }}</span>
      </div>
      <div layout ng-if="replication.heath_comments">
        <span>Team Leader Response: </span>
        <span>{{ replication.heath_comments }}</span>
      </div>
      <div layout  ng-if="replication.video_url">
        <span>Video: </span>
        <span style="width:auto;"><a href="{{ replication.video_url }}">{{ replication.video_url }}</a></span>
      </div>
    </div>
  </fieldset>
</div>
<div ng-if="showSuccess" layout layout-align="center">
  <div style="background: rgba(215,213,211,0.61);border:solid thin #939393; padding:.5rem;margin:1rem;width:100%;">
    <span>Your response has been emailed.</span>
  </div>
</div>
<div ng-hide="!replication">
  <form name="heathResponseForm" ng-submit="addResponse(replication)">
    <input ng-model=replication.id type="hidden">
    <fieldset class="field_set md-padding" style="background-color:white;">
      <legend>Add Response</legend>
      <div layout="column" style="margin:1rem;">
        <label for="heath_response">Comments:</label>
        <textarea ng-model="replication.comments" name="heath_response" id="heath_response" cols="10" rows="5"
                  required></textarea>
      </div>
      <div layout="column" style="margin:1rem;">
        <label for="video_url">Paste video URL here</label>
        <input ng-model="replication.url" id="video_url" type="text">
      </div>
      <div layout style="">
        <md-button class="md-raised" ng-disabled="heathResponseForm.$invalid"
                   ng-class="{'active':heathResponseForm.$valid}" type="submit">SAVE
        </md-button>
      </div>
    </fieldset>
  </form>
</div>
