<div class="md-padding" id="wrapper">
  <div ng-if="pageReload" id="pageReload"
       style="z-index:5; position:fixed; top:0; left:0; width:100%; height:100%;background-color:rgba(136,136,136,0.2)">
    <div layout="column" layout-align="center center"
         style="z-index:10; position: fixed; top: 30%; left: 35%;width:300px; height:200px; padding:.5rem;background-color: white;color:#3b3b3b;"
         md-whiteframe="3">
      <div layout layout-align="center center" style="margin-bottom:.8rem;">
        <div ng-if="showErrorIcon" ng-bind-html="icon"></div>
        <div class="md-subhead md-padding" ng-bind-html="pageMsg"></div>
      </div>
      <div ng-if="showLinearProgress" style="width:80%;">
        <md-progress-linear md-mode="indeterminate" class="md-warn md-hue-2"></md-progress-linear>
      </div>
    </div>
  </div>
  <div style="background-color:#0F4A78;width:100%;box-shadow:2px 2px 1px #888888;margin-bottom:1rem;padding: .1rem 0;">
    <p class="md-subhead" style="color:white;">Requested Meetings</p>
  </div>
  <div ng-if="requests.length === 0" layout layout-align="center center"
       style="background-color: #EAEAEA;color:dimgrey;">
    <p>
      <em>
        There are no meeting requests
      </em>
    </p>
  </div>
  <table ng-if="requests.length > 0" cellpadding="2" cellspacing="0" border="0" width="100%;" style="margin-top:1rem;">
    <thead>
    <tr>
      <th align="left">Status</th>
      <th align="left">Date & Time</th>
      <th align="left">DPS</th>
      <th align="left">Address</th>
      <th align="left">Town</th>
      <th align="left">Facility</th>
      <th align="left"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="request in requests | orderBy: 'meeting_datetime'" class="table_body">
      <td>
        <md-tooltip ng-if="request.schedule_status==='pending'" md-direction="right">Awaiting confirmation from ATMOS</md-tooltip>
        <md-tooltip ng-if="request.schedule_status==='proposed'" md-direction="right">New schedule proposed</md-tooltip>
        <i ng-if="request.schedule_status==='proposed'" class="material-icons" style="color:#009E5A;font-size:1.4rem;">new_releases</i>
        <i ng-if="request.schedule_status==='pending'" class="material-icons" style="color:gray;font-size:1.4rem;">schedule</i>
      </td>
      <td ng-bind="request.meeting_datetime | date:'short'">
      </td>
      <td ng-bind="request.fname +' '+request.lname"></td>
      <td ng-bind="request.location"></td>
      <td ng-bind="request.town"></td>
      <td ng-bind="request.facility"></td>
      <td>
        <md-button class="md-raised info"
                   style="font-size:10px;line-height:18px;min-height:24px!important;height:18px!important; min-width:18px!important;"
                   ng-click="viewRequest(request)" layout layout-align="center center">
          view details
        </md-button>
      </td>
    </tr>
    </tbody>
  </table>
  <div ng-if="request" layout="column" class="view" id="details" style="margin-top:2rem;">
    <div layout="column" layout-align="space-around start" style="width:100%;padding:.5rem;">
      <!--show meeting details-->
      <div layout="column" layout-align="start" style="width:100%;">

        <fieldset class="field_set">

          <legend>DETAILS</legend>

          <div layout>

            <div layout="column" class="md-padding">

              <div>

                <div layout>

                  <span>Date: </span>

                  <span>{{request.meeting_datetime | date:'short' }}</span>

                </div>

                <div layout>

                  <span>DPS: </span>

                  <span ng-bind="request.fname + ' '+ request.lname"></span>

                </div>

                <div layout>

                  <span>Locate Technician: </span>

                  <span ng-bind="request.locate_technician"></span>

                </div>

                <div layout>

                  <span>Heath Damage Report: </span>

                  <span ng-bind="request.heath_report"></span>

                </div>

                <div layout>

                  <span>Facility: </span>

                  <span ng-bind="request.facility"></span>

                </div>

                <div ng-if="request.location_name" layout>

                  <span>Meeting Location: </span>

                  <span ng-bind="request.location_name"></span>

                </div>

                <div layout>

                  <span>Address: </span>

                  <span ng-bind="request.location">

                <span ng-if="request.cross_street">@ {{ request.cross_street }}</span>

                </span>

                </div>

                <div layout>

                  <span>Town: </span>

                  <span ng-bind="request.town "></span>

                </div>

              </div>

              <div>

                <div layout layout-align="start center" style="margin-top:1rem;">

                  <md-button ng-if="request.schedule_status === 'proposed'" class="md-raised active"
                             ng-click="confirmMeeting(request)">CONFIRM
                  </md-button>
                  <md-button ng-if="request.schedule_status === 'pending'" class="md-raised active"
                             ng-click="resend(request)">RESEND
                  </md-button>
                  <md-button class="md-raised info" ng-click="cancelMeeting(request)">CANCEL
                  </md-button>

                </div>

              </div>

            </div>



          </div>

        </fieldset>

      </div>

    </div>
  </div>
</div>
