<table cellpadding="2" cellspacing="0" border="0" width="100%">
  <thead>
  <th align="left">Date / Time</th>
  <th align="left">ATMOS DPS</th>
  <th align="left">Place</th>
  <th align="left">Address</th>
  <th align="left">Town</th>
  <th align="left">Action</th>
  </thead>
  <tbody>
  <tr ng-repeat="meeting in scheduledMeetings | orderBy: 'meeting_datetime'">
    <td>{{meeting.meeting_datetime | date:'short' }}</td>
    <td>{{ meeting.fname }}{{ meeting.lname}}</td>
    <td>{{ meeting.location_name }}</td>
    <td>{{ meeting.location }}</td>
    <td>{{ meeting.town }}</td>
    <td>
      <md-button class="md-raised"
                 style="font-size:10px;line-height:18px;min-height:18px!important;height:18px!important; min-width:18px!important;background-color:#444444;color:white;"
                 ng-click="viewMeeting(meeting)" layout layout-align="center center">
        view
      </md-button>
    </td>
  </tr>

  </tbody>
</table>
<div ng-if="selectedIndex === 1 && meeting" layout="column" class="view" style="padding:1rem;margin-top:2rem;">
  <div>
    <h4 style="background-color:#0F4A78;padding:1rem;color:white;padding:.5rem;" md-whiteframe="3">Meeting
      Details</h4>
    <div layout="column">
      <div layout="column">
        <div>
          <div layout>
            <span>Date: </span>
            <span>{{ meeting.meeting_datetime  | date:'short'}}</span>
          </div>
          <div layout>
            <span>ATMOS DPS: </span>
            <span>{{ meeting.fname }}{{meeting.lname}}</span>
          </div>
          <div layout>
            <span>Locate Technician: </span>
            <span>{{ meeting.locate_technician }}</span>
          </div>
          <div layout>
            <span>Heath Damage Report: </span>
            <span>{{ meeting.heath_report }}</span>
          </div>
          <div layout>
            <span>Facility: </span>
            <span>{{ meeting.facility }}</span>
          </div>
          <div ng-if="meeting.location_name" layout>
            <span>Meeting Location: </span>
            <span>{{ meeting.location_name }}</span>
          </div>
          <div layout>
            <span>Address: </span>
            <span>{{ meeting.location }}
                <span ng-if="meeting.cross_street">@ {{ meeting.cross_street }}</span>
                </span>
          </div>
          <div layout>
            <span>Town: </span>
            <span>{{ meeting.town }}</span>
          </div>
        </div>
      </div>
      <div>
        <div ng-if="selectedIndex === 1" layout layout-align="start center" style="margin-top:1rem;">

          <md-button class="md-raised" ng-click="cancelMeeting(meeting)" style="background-color:#444444;color:white;">
            CANCEL MEETING
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div>
