<style>
  table {
    border-collapse: collapse;
  }

  th {
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
  }

  td {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  tbody tr:nth-child(odd) {
    background-color: #eaeaea;
  }
</style>
<div layout layout-align="center" id="container">
  <div layout="column" layout-align="" style="width:960px;">
    <div layout layout-align="start" >
      <div class="md-padding">
        <div layout layout-align="end center" style="margin-bottom:2rem;color:#9C9C9C;">
          <div layout layout-align="center">
            <span>Click the </span>
            <span><i class="material-icons" style="color:#1e84f2;">pageview</i></span>
            <span>icon to view replication</span>
          </div>
        </div>
        <table cellpadding="2" cellspacing="0" border="0" width="900">
          <thead>
          <th>Replication Date</th>
          <th>ATMOS REP.</th>
          <th>Address</th>
          <th>Determination</th>
          <th>View</th>
          </thead>
          <tbody>
          <tr ng-repeat="replication in replications" ng-init="isFormOpen = false">
            <td>{{ replication.meeting_date | date:'MM/dd/yyyy'}}</td>
            <td>{{ replication.atmos_employee }}</td>
            <td>{{ replication.street_number }} {{ replication.street_name }} {{ replication.street_suffix }}</td>
            <td>{{ replication.atmos_determination }}</td>
            <td>
              <md-button ng-click="sendData(replication)" layout layout-align="center center"><i class="material-icons"
                                                                                                 style="color:#1e84f2;">pageview</i>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
      </div>
    </div>
    <div ng-if="replication" ng-init="showForm = false" layout="column" class="view" style="padding:1rem;">
      <div style="margin:1rem;">
        <div layout>
          <span>Replication Date: </span>
          <span>{{ replication.meeting_date | date:'MM/dd/yyyy' }}</span>
        </div>
        <div layout>
          <span>ATMOS REP.: </span>
          <span>{{ replication.atmos_employee }}</span>
        </div>
        <div layout>
          <span>Locate Technician: </span>
          <span>{{ replication.locate_technician }}</span>
        </div>
        <div layout>
          <span>Heath Damage Report: </span>
          <span>{{ replication.heath_report }}</span>
        </div>
        <div layout>
          <span>Facility: </span>
          <span>{{ replication.facility_size }} {{ replication.facility_material }}</span>
        </div>
        <div layout>
          <span>Address: </span>
          <span>{{ replication.street_number }} {{ replication.street_name }} {{ replication.street_suffix }} <span
            ng-if="replication.cross_street">@ {{ replication.cross_street }}</span></span>
        </div>
        <div layout>
          <span>Town: </span>
          <span>{{ replication.town }}</span>
        </div>
        <div layout>
          <span>Determination: </span>
          <span>{{ replication.atmos_determination }}</span>
        </div>
        <div layout>
          <span>Comments: </span>
          <span>{{ replication.atmos_comments }}</span>
        </div>
      </div>
      <div ng-if="showSuccess" layout layout-align="center">
        <div style="padding:.5rem; background-color:lightblue">
          <span>Your response has been emailed.</span>
        </div>
      </div>
      <div ng-hide="!replication">
        <form name="heathResponseForm" ng-submit="addResponse(id,tl.comments,tl.url)">
          <input ng-model="id" ng-init="id = replication.id" type="hidden">
          <fieldset class="field_set md-padding" style="background-color:white;">
            <legend>Add Response</legend>
            <div layout="column" style="margin:1rem;">
              <label for="heath_response">Comments:</label>
              <textarea ng-model="tl.comments" name="heath_response" id="heath_response" cols="10" rows="5"
                        required></textarea>
            </div>
            <div layout="column" style="margin:1rem;">
              <label for="video_url">Paste video URL here</label>
              <input ng-model="tl.url" id="video_url" type="text">
            </div>
            <div layout style="">
              <md-button class="md-raised" ng-disabled="heathResponseForm.$invalid" ng-class="{'active':heathResponseForm.$valid}" type="submit">SAVE</md-button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>


