<style>
  table {
    border-collapse: collapse;
  }

  th {
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
  }

  td {
    text-align: left;
    padding: .5rem;
    font-family: 'opnes sans', sans-serif;
  }

</style>
<div layout layout-align="center">
  <div layout="column">
    <div layout layout-align="start" >
      <div class="md-padding">
        <div layout layout-align="end end" style="margin-bottom:1rem;">
          <div layout layout-align="center">
            <span>Click the </span>
            <span><i class="material-icons" style="color:#1e84f2;">pageview</i></span>
            <span>icon to view replication</span>
          </div>
        </div>
          <md-content>
            <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
              <md-tab label="requested">
                <md-tab-body>
                  <div layout layout-align="end center" class="md-padding" >
                    <div layout layout-align="start center">
                      <div class="new"></div>
                      <span class="md-caption">new</span>
                    </div>
                    <div layout layout-align="start center">
                      <div class="proposed"></div>
                      <span class="md-caption">proposed</span>
                    </div>
                  </div>
                  <table cellpadding="2" cellspacing="0" border="0" width="900">
                    <thead>
                    <th>Status</th>
                    <th>Date / Time</th>
                    <th>Team Leader</th>
                    <th>Place</th>
                    <th>Address</th>
                    <th>Town</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="request in requests | orderBy: 'meeting_datetime'" class="table_body">
                      <td>
                        <div ng-class="{new:request.schedule_status==='pending',proposed:request.schedule_status==='proposed'}"></div>
                      </td>
                      <td>{{ request.meeting_datetime | date: 'medium'}}
                      </td>
                      <td>{{ request.team_leader }}</td>
                      <td>{{ request.location_name }}</td>
                      <td>{{ request.location }}</td>
                      <td>{{ request.town }}</td>
                      <td>
                        <md-button class="md-raised md-warn"
                                   style="font-size:10px;line-height:18px;min-height:18px!important;height:18px!important; min-width:18px!important;"
                                   ng-click="viewRequest(request)" layout layout-align="center center">
                          view
                        </md-button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </md-tab-body>
              </md-tab>
              <md-tab label="scheduled" ui-sref="authenticated.page.heath.completed">
                <md-tab-body>
                  <div ui-view></div>
                </md-tab-body>
              </md-tab>
              <md-tab label="completed" ui-sref="authenticated.page.heath.completed">
                <div ui-view></div>
              </md-tab>
            </md-tabs>
          </md-content>
      </div>
      <div>
      </div>
    </div>
    <div ng-if=" selectedIndex === 3 && replication" ng-init="showForm = false" layout="column" class="view" style="padding:1rem;">

      <fieldset class="field_set">
        <legend>Replication</legend>
        <div style="margin:1rem;">
          <div layout>
            <span>Replication Date: </span>
            <span>{{ replication.meeting_date | date:'MM/dd/yyyy' }}</span>
          </div>
          <div layout>
            <span>ATMOS REP.: </span>
            <span>{{ replication.atmos_employee }}</span>
          </div>
          <div layout>
            <span>Locate Technician: </span>
            <span>{{ replication.locate_technician }}</span>
          </div>
          <div layout>
            <span>Heath Damage Report: </span>
            <span>{{ replication.heath_report }}</span>
          </div>
          <div layout>
            <span>Facility: </span>
            <span>{{ replication.facility_size }} {{ replication.facility_material }}</span>
          </div>
          <div layout>
            <span>Address: </span>
            <span>{{ replication.street_number }} {{ replication.street_name }} {{ replication.street_suffix }} <span
              ng-if="replication.cross_street">@ {{ replication.cross_street }}</span></span>
          </div>
          <div layout>
            <span>Town: </span>
            <span>{{ replication.town }}</span>
          </div>
          <div layout>
            <span>Determination: </span>
            <span>{{ replication.atmos_determination }}</span>
          </div>
          <div layout>
            <span>Comments: </span>
            <span>{{ replication.atmos_comments }}</span>
          </div>
        </div>
      </fieldset>

      <div ng-if="showSuccess" layout layout-align="center">
        <div style="padding:.5rem; background-color:lightblue">
          <span>Your response has been emailed.</span>
        </div>
      </div>
      <div ng-hide="!replication">
        <form name="heathResponseForm" ng-submit="addResponse(id,tl.comments,tl.url)">
          <input ng-model="id" ng-init="id = replication.id" type="hidden">
          <fieldset class="field_set md-padding" style="background-color:white;">
            <legend>Add Response</legend>
            <div layout="column" style="margin:1rem;">
              <label for="heath_response">Comments:</label>
              <textarea ng-model="tl.comments" name="heath_response" id="heath_response" cols="10" rows="5"
                        required></textarea>
            </div>
            <div layout="column" style="margin:1rem;">
              <label for="video_url">Paste video URL here</label>
              <input ng-model="tl.url" id="video_url" type="text">
            </div>
            <div layout style="">
              <md-button class="md-raised" ng-disabled="heathResponseForm.$invalid" ng-class="{'active':heathResponseForm.$valid}" type="submit">SAVE</md-button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div ng-if="selectedIndex === 0 && request" layout="column" class="view">
      <div>
        <fieldset class="field_set">
          <legend>Meeting Details</legend>
          <div layout>
            <div layout="column">
              <div>
                <div layout>
                  <span>Date: </span>
                  <span>{{request.meeting_datetime | date:'medium' }}</span>
                </div>
                <div layout>
                  <span>Team Leader: </span>
                  <span>{{ request.team_leader }}</span>
                </div>
                <div layout>
                  <span>Locate Technician: </span>
                  <span>{{ request.locate_technician }}</span>
                </div>
                <div layout>
                  <span>Heath Damage Report: </span>
                  <span>{{ request.heath_report }}</span>
                </div>
                <div layout>
                  <span>Facility: </span>
                  <span>{{ request.facility }}</span>
                </div>
                <div ng-if="request.location_name" layout>
                  <span>Meeting Location: </span>
                  <span>{{ request.location_name }}</span>
                </div>
                <div layout>
                  <span>Address: </span>
                  <span>{{ request.location }}
                <span ng-if="request.cross_street">@ {{ request.cross_street }}</span>
                </span>
                </div>
                <div layout>
                  <span>Town: </span>
                  <span>{{ request.town }}</span>
                </div>
              </div>
              <div>
                <div layout layout-align="start center" style="margin-top:1rem;">

                  <md-button class="md-raised active" ng-click="confirmMeeting(request)">CONFIRM MEETING</md-button>
                </div>
              </div>
            </div>
            <div layout="column" style="border-left:solid thin lightgray;padding:.5rem;width:100%;">
              <div style="height:100%;">
                <div layout="column" style="width:100%;height:100%;">
                  <p><strong>Need to reschedule</strong></p>
                  <p style="width:100%;"><strong>When will you be able to meet?</strong></p>

                  <div layout style="width:100%;">
                    <input class="form-control"
                           placeholder="Select a date..."
                           moment-picker="request.stringDate"
                           locale="en"
                           format="lll"
                           min-view="month"
                           autoclose="true"
                           today="true"
                           keyboard="true"
                           ng-model="request.momentDate"
                           ng-model-options="{ updateOn: 'blur' }"
                           width="100%"/>
                  </div>
                </div>
              </div>
              <div>
                <div layout layout-align="start center" style="margin-top:1rem;">
                  <!--html-->
                  <md-button class="md-raised info" ng-click="propose(request,proposed)">PROPOSE NEW SCHEDULE
                  </md-button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>


