<div layout layout-align="end start" style="margin-bottom:1.5rem;">
  <div layout layout-align="end center">
    <!--<div class="response_required"></div>-->
    <div layout layout-align="center center"style="background-color:#FAFAFA;border:solid thin lightgrey;">
      <i class="material-icons md-caption" style="color:#009E5A;font-size:1.4rem;margin:.5rem;">schedule</i>
      <span class="md-caption" style="color:#05633B;">new schedule proposed</span>
    </div>
  </div>
</div>
<table cellpadding="2" cellspacing="0" border="0" width="100%;" style="margin-top:1rem;">
  <thead>
  <th align="left">Status</th>
  <th align="left">Date / Time</th>
  <th align="left">Address</th>
  <th align="left">Town</th>
  <th align="left">Facility</th>
  <th align="left">Action</th>
  </thead>
  <tbody>
  <tr ng-repeat="request in requests | orderBy: 'meeting_datetime'" class="table_body" >
    <td>
      <i ng-if="request.schedule_status==='proposed'" class="material-icons" style="color:#009E5A;font-size:1.4rem;">schedule</i>
      <!-- <div ng-class="{response_required:request.schedule_status==='proposed'}">-->

      </div>
    </td>
    <td>{{ request.meeting_datetime | date: 'short'}}
    </td>
    <td>{{ request.location }}</td>
    <td>{{ request.town }}</td>
    <td> {{request.facility}}</td>
    <td>
      <md-button class="md-raised"
                 style="font-size:10px;line-height:18px;min-height:18px!important;height:18px!important; min-width:18px!important;background-color:#444444;color:white;"
                 ng-click="viewRequest(request)" layout layout-align="center center">
        view
      </md-button>
    </td>
  </tr>
  </tbody>
</table>
<div ng-if="selectedIndex === 0 && request" layout="column" class="view" style="">
  <div layout="column" layout-align="space-around start" style="width:100%;padding:.5rem;">
    <div ng-if="scheduledMeetings.length > 0" style="margin-bottom:2rem;width:100%;">
      <h4 style="background-color:#0F4A78;color:white;padding:.5rem;" md-whiteframe="3">Upcoming
        Meetings</h4>
      <div layout="column" style="padding:.5rem;">
        <table cellpadding="4" cellspacing="4" >
          <thead>
          <th align="left">Date</th>
          <th align="left">Place</th>
          <th align="left">Location</th>
          <th align="left">Town</th>
          <th align="left">DPS</th>
          <th align="left">Facility</th>
          <th align="left">Damage Report</th>
          </thead>
          <tbody>
          <tr ng-repeat="meeting in scheduledMeetings | orderBy: 'meeting_datetime'" style="">
            <td>{{meeting.meeting_datetime | date:'short'}}</td>
            <td>{{meeting.location_name}}</td>
            <td>{{meeting.location}}</td>
            <td>{{meeting.town}}</td>
            <td>{{meeting.email}}</td>
            <td>{{meeting.facility}}</td>
            <td>{{meeting.heath_report}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div layout="column" layout-align="start" style="width:100%;margin-bottom:1rem;">
      <h4 style="margin-top:0;margin-bottom:0;color:#0F4A78;width:100%;padding-top:.5rem;padding-bottom:.5rem;" >Requested
        Meeting</h4>
     <div md-whiteframe="3">

       <div style="background-color: #dddddd;width:100%;">
         <div layout>
           <span>Date: </span>
           <span>{{ request.meeting_datetime  | date:'short'}}</span>
         </div>
         <div layout>
           <span>ATMOS DPS: </span>
           <span>{{ request.fname }}{{request.lname}}</span>
         </div>
         <div layout>
           <span>Locate Technician: </span>
           <span>{{ request.locate_technician }}</span>
         </div>
         <div layout>
           <span>Heath Damage Report: </span>
           <span>{{ request.heath_report }}</span>
         </div>
         <div layout>
           <span>Facility: </span>
           <span>{{ request.facility }}</span>
         </div>
         <div ng-if="request.location_name" layout>
           <span>Meeting Location: </span>
           <span>{{ request.location_name }}</span>
         </div>
         <div layout>
           <span>Address: </span>
           <span>{{ request.location }}
                <span ng-if="request.cross_street">@ {{ request.cross_street }}</span>
                </span>
         </div>
         <div layout>
           <span>Town: </span>
           <span>{{ request.town }}</span>
         </div>
       </div>
     </div>
      <div layout layout-align="start end" style="margin-top:.5rem;">
        <div ng-if="selectedIndex === 0 && request.schedule_status ==='proposed'">
          <md-button class="md-raised active" ng-click="confirmMeeting(request)">CONFIRM</md-button>
        </div>
        <div ng-if="selectedIndex === 0">
          <md-button class="md-raised info" ng-click="cancelRequest(request)">CANCEL</md-button>
        </div>
      </div>
    </div>

  </div>
</div>
