<div flex layout style="height:100vh;">
  <div flex-gt-sm="70" layout id="heath_img" aria-label="TAPS"
       style="height:100%; background-color: white; background-image: url(../img/TAPS-min.jpg); background-size: cover; background-position: center;background-repeat:no-repeat; ">

  </div>
  <div flex-xs flex-sm flex-gt-sm="30" layout="column" layout-align="start" layout-align-sm="start"
       style="background-color:#fafafa;height:100%;width:100%;padding-left:2rem;">
    <div layout layout-align="start" layout-align-sm="start"
         style="margin:2rem;width:90%;height:80px;background-image: url('../img/HCI_logo-min.png'); background-size: contain; background-position: left;background-repeat:no-repeat;">

    </div>
    <div flex-xs flex-sm layout layout-align="start" layout-sm="column"
         layout-align-sm="start" class="md-padding" style="margin-top:4rem; width:80%;height:80vh;">
      <div flex layout="column" layout-align="start">
        <div ng-show="err" class="md-caption" style="color: coral">Invalid Username and/or password.<br/> Please try
          again.
        </div>
        <div layout layout-align="" class="" style="width: 100%;" ng-init="showResetForm = false">
          <form ng-show="!showResetForm && !confirmationMsg" name="logIn" ng-submit="login(user.email,user.password)" style="width: 100%;">
            <div layout="column" style="width:100%;">
              <md-input-container>
                <label for="email">Email</label>
                <input type="email" id="email" ng-model="user.email" style="width:260px;">
              </md-input-container>
              <md-input-container>
                <label for="password">Password</label>
                <input type="password" id="password" ng-model="user.password" style="width:260px;">
              </md-input-container>
            </div>
            <div layout="column" layout-align="start start">
              <md-button class="md-raised active" type="submit" id="sign-in-button"
                         style="margin-top:2.5rem;  height:42px;">
                Sign In
              </md-button>
              <div layout="column" layout-align="start" class="md-padding" style="margin-top:2.5rem;width:100%;">
                <span>Forgot Password? </span>
                <a href="" ng-click="showResetForm = true">Reset your password</a>
              </div>
            </div>
          </form>
          <form ng-show="showResetForm" name="resetPasswordForm" ng-submit="resetPassword(email)" style="width: 100%;">
            <div layout="column"  layout-align="start" style="width: 100%;">
              <div style="margin: 1.5rem 0">
                  <a layout layout-align="start center" href="" ng-click="showResetForm = false" style="margin:0;text-decoration: none;color:blue">
                    <div style="border-radius:50%; background-color:blue;margin:.5rem;" layout layout-align="center center">
                      <i class="material-icons" style="color:white">arrow_back</i>
                    </div>
                    <div class="md-body-1">
                      Back to Sign In
                    </div>
                    </a>

              </div>
              <div>
                <span class="md-body-1">Enter your email address to receive a password reset link</span>
              </div>
              <md-input-container>
                <label for="email">Email</label>
                <input type="email" id="passwordreset" ng-model="email" style="width:260px;">
              </md-input-container>
            </div>
            <div ng-if="errMsg" class="md-caption" style="color: coral">
              <span>Error! {{errMsg}} </span>
            </div>
            <div style="margin: 2rem 0;">
              <md-button class="md-raised info" type="submit">Password Reset</md-button>
            </div>
          </form>
          <div ng-show="confirmationMsg">
            <div>
              <p class="md-body-2" style="color:blue;">
                Please check your email for a password reset link
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div layout layout-align="center center" style="height:64px;width:99%;border-top:solid thin #ebebeb;">
      <div layout layout-align="center center">
        <div><i class="material-icons" style="color:#79b538;font-size:1rem;">lock</i></div>
        <span class="md-caption">SSL Certified</span>
      </div>
    </div>
  </div>

</div>





