<div layout layout-align="center">
  <div layout="" layout-align="end center" class="md-padding" style="width:960px;">

    <nav ng-if="company === 'HEATH'">
      <div layout layout-align="center center">
        <span>
          <a href="" ui-sref="app.heath" ui-sref-active-eq="active_link">MAIN</a>
        </span>
        <span>
          <a href="" ui-sref="app.meeting" ui-sref-active-eq="active_link">SCHEDULING</a>
        </span>
        <span>
          <a ng-controller="LogOutCtrl" href="" ng-click="logout()">LOG OUT</a>
        </span>
      </div>
    </nav>
    <nav ng-if="company === 'ATMOS'">
      <div layout layout-align="center center">
        <span>
          <a href="" ui-sref="app.atmos" ui-sref-active-eq="active_link">MAIN</a>
        </span>
        <span>
          <a href="" ui-sref="app.replication-form" ui-sref-active-eq="active_link">RPF</a>
        </span>
        <span>
          <a ng-controller="LogOutCtrl" href="" ng-click="logout()">LOG OUT</a>
        </span>
      </div>
    </nav>

  </div>
</div>
