<div layout layout-align="center">
  <div layout="" layout-align="space-between center" class="md-padding" style="width:960px;">
    <div>
      <h2 style="color:#00468b">{{ title }}</h2>
    </div>
    <nav>
      <div layout layout-align="center center">
        <span>
          <a href="">REPLICATIONS</a>
        </span>
        <span>
          <a href="">MEETINGS</a>
        </span>
        <span>
          <a ng-controller="LogOutCtrl" href="" ng-click="logout()">LOG OUT</a>
        </span>
      </div>
    </nav>
  </div>
</div>
