<div layout layout-align="center" style="background-color:#042844;">
  <div layout="" layout-align="end center" class="md-padding" style="width:1024px;background-color:#042844;">
    <nav ng-if="company === 'HEATH'">
      <div layout layout-align="center center">
        <span>
          <a href="" ng-controller="LogOutCtrl" ng-click="logout()" style="color:#d7d5d3;">SIGN OUT</a>
        </span>
      </div>
    </nav>
    <nav ng-if="company === 'ATMOS'">
      <div layout layout-align="center center">
        <span>
          <a ng-controller="LogOutCtrl" ng-click="logout()" style="color:#d7d5d3;">SIGN OUT</a>
        </span>
      </div>
    </nav>
  </div>
</div>
