<div flex layout style="height:100vh;">
  <div flex-gt-sm="70" layout id="heath_img" aria-label="TAPS"
       style="height:100%; background-color: white; background-image: url(../img/TAPS-min.jpg); background-size: cover; background-position: center;background-repeat:no-repeat; ">

  </div>
  <div flex-xs flex-sm flex-gt-sm="30" layout="column" layout-align="start start"
       style="background-color:#fafafa;height:100%;width:90%;padding-left:2rem;">
    <div
         style="margin:2rem;width:80%;height:80px;background-image: url('../img/HCI_logo-min.png'); background-size: 40%; background-position: left;background-repeat:no-repeat;">

    </div>

    <div flex-xs flex-sm layout layout-align="start" layout-sm="column"
         layout-align-sm="start center" class="md-padding" style="margin-top:4rem; width:80%;height:80vh;">
      <div flex layout="column" layout-align="start">
        <div>
          <p class="md-headline">
            Password Reset
          </p>
        </div>
        <div ng-show="err" class="md-caption" style="color: coral">Invalid Username and/or password.<br/> Please try
          again.
        </div>
        <div layout layout-align="start" class="md-padding" style="width: 100%;">
          <form name="logIn" ng-submit="changePassword(password,passwordConfirmed)" style="width: 100%;">
            <div layout="column" layout-align="start start" style="width:100%;margin:1rem;">
              <md-input-container>
                <label for="password">Enter New Password</label>
                <input type="password" id="password" ng-model="password" style="width:300px;">
              </md-input-container>
              <md-input-container>
                <label for="password2">Confirm New Password</label>
                <input type="password" id="password2" ng-model="passwordConfirmed" style="width:300px;">
              </md-input-container>
            </div>
            <div layout="column" layout-align="start start">
              <md-button class="md-raised active" type="submit" id="update-password"
                         style="margin-top:2.5rem;  height:42px;">
                Update Password
              </md-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>





