<div class="md-padding" id="wrapper">
  <div ng-if="pageReload" id="pageReload"
       style="z-index:5; position:fixed; top:0; left:0; width:100%; height:100%;background-color:rgba(136,136,136,0.2)">
    <div layout="column" layout-align="center center"
         style="z-index:10; position: fixed; top: 20%; left: 30%;width:360px; height:200px; padding:.5rem;background-color: white;color:#3b3b3b;"
         md-whiteframe="3">
      <div layout layout-align="center center" style="margin-bottom:.8rem;">
        <div ng-if="showErrorIcon" ng-bind-html="icon"></div>
        <div class="md-subhead md-padding" ng-bind-html="pageMsg"></div>
      </div>
      <div ng-if="showLinearProgress" style="width:80%;">
        <md-progress-linear md-mode="indeterminate" class="md-warn md-hue-2"></md-progress-linear>
      </div>
    </div>
  </div>
  <div style="background-color:#0F4A78;width:100%;box-shadow:2px 2px 1px #888888;margin-bottom:1rem;padding: .1rem 0;">
    <p class="md-subhead" style="color:white;">Replication Response Form</p>
  </div>
  <div layout layout-align="center center">

    <div layout="column" layout-align="center center" style="width:960px;">
      <div layout layout-align="end center" class="row" style="margin:1rem; width:720px;">
        <div layout="column">
          <label for="dlist">Distribution List</label>
          <select ng-model="response.distribution_list" name="ditribution_list" id="dlist" disabled>
            <!--<option ng-repeat="(key,val) in distribution_lists" value="{{ list }}">{{ key }} - {{ val }}</option>-->
          </select>
        </div>
      </div>
      <div>
        <div layout layout-align="end center">
          <span class="md-caption" style="color: darkorange;"><em>All fields are required</em></span>
        </div>
        <form name="replicationForm"
              ng-submit="sendEmail(response)">
          <fieldset class="field_set" style="background-color: #eaeaea;">
            <legend>
              HEATH EMPLOYEES
            </legend>
            <div layout="column" class="row">
              <div layout layout-align="start center" style="padding:1rem;">
                <input ng-model="response.atmos_employee" type="hidden">
                <input ng-model="response.employeeId" type="hidden">
                <label for="team_leader"><strong>Team Leader</strong></label>
                <select ng-model="response.team_leader" id="team_leader">
                  <option ng-repeat="teamleader in teamleaders | orderBy: 'lname'" value="{{ teamleader }}">{{
                    teamleader.fname }} {{ teamleader.lname }}
                  </option>
                </select>
              </div>
              <div layout="column" class="row">
                <span>Locate Technician</span>
                <div layout layout-align="start center">
                  <div layout="column" style="margin:1rem;padding:.5rem;">
                    <label for="locate_technician_fname"><strong>First Name</strong></label>
                    <input ng-model="response.locate_technician_fname" id="locate_technician_fname" type="text"
                           required>
                  </div>
                  <div layout="column">
                    <label for="locate_technician_lname"><strong>Last Name</strong></label>
                    <input ng-model="response.locate_technician_lname" id="locate_technician_lname" type="text"
                           required>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="field_set" style="background-color: #eaeaea;">
            <legend>
              DAMAGE INFORMATION
            </legend>
            <div layout="column" class="md-padding">
              <div layout layout-align="space-between" class="row">
                <div layout="column">
                  <label for="heath_report"><strong>Heath Damage Report</strong></label>
                  <input ng-model="response.heath_report" type="number" id="heath_report" required>
                </div>
                <div layout="column">
                  <label for="atmos_report"><strong>ATMOS leak #</strong></label>
                  <input type="text" ng-model="response.atmos_report" id="atmos_report" style="width:94px;">
                </div>
                {{response.atmos_report}}
              </div>
              <div layout="column" class="row">
                <span style="margin-bottom:1rem;"><em>Address Information</em></span>
                <div layout layout-align="space-between center">
                  <div layout="column">
                    <label for="street_number"><strong>Number</strong></label>
                    <input ng-model="response.street_number" type="number" id="street_number"
                           style="width:64px;"
                           required>
                  </div>
                  <div layout="column">
                    <label for="street"><strong>Street</strong></label>
                    <input ng-model="response.street_name" type="text" id="street" required>
                  </div>
                  <div layout="column">
                    <label for="street"><strong>Suffix</strong></label>
                    <select ng-model="response.street_suffix" name="street_suffix" id="street_suffix" required>
                      <option ng-repeat="suffix in suffixes | orderBy:'name'" value="{{ suffix.suffix }}">{{ suffix.name
                        }}
                      </option>
                    </select>

                  </div>
                </div>
              </div>
              <div layout class="row" layout-align="space-between center">
                <div layout="column">
                  <label for="cross_street"><strong>Nearest Cross Street</strong>
                    <small ng-if="!response.street_number"><em style="color:indianred;">*</em></small>
                  </label>
                  <input ng-model="response.cross_street" type="text" id="cross_street"
                         ng-required="!response.street_number">
                </div>
                <div layout="column">
                  <label for="town"><strong>Town</strong></label>
                  <select ng-model="response.town" type="text" id="town" required>
                    <option ng-repeat="town in towns | orderBy: 'city'" value="{{ town.city }}">{{ town.city }}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <span><em>Facility Description</em></span>
                <div layout style="margin-top:1rem;">
                  <label for="facility_size"><strong>Diameter</strong></label>
                  <select ng-model="response.facility_size" name="facility_size" id="facility_size" required>
                    <option ng-repeat="size in diameters" value="{{ size }}">{{ size }}</option>

                  </select>
                  <label for="facility_material"><strong>Material</strong></label>
                  <select ng-model="response.facility_material" name="facility_material" id="facility_material"
                          required>
                    <option ng-repeat="material in materials" value="{{ material }}">{{ material }}</option>
                  </select>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="field_set" style="background-color: #eaeaea;">
            <legend>REPLICATION RESULTS</legend>
            <div layout="column" class="md-padding">
              <div layout="column">
                <span style="width:100%;"><strong>Can the technician replicate the locate marks?</strong></span>
                <select ng-model="response.able_to_replicate" name="able_to_replicate" required
                        ng-change="clearForm(response)"
                        style="margin:1rem;">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
              <div ng-if="response.able_to_replicate === 'Yes'">
                <div class="row">
                  <div layout="column">
                    <input ng-model="response.atmos_determination"
                           ng-init="response.atmos_determination = 'Facility Issue'"
                           type="hidden">
                    <label for="facility_issue"><strong>Please describe the root cause of this facility issue.</strong></label>
                    <textarea ng-model="response.atmos_comments" name="facility_issue"
                              id="facility_issue" cols="30"
                              rows="7" ng-required="response.atmos_determination === 'facility_issue'"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div layout="column">
                    <label for="actions_taken"><strong>Please describe the corrective actions taken to resolve this
                      facility issue.</strong></label>
                    <textarea ng-model="response.corrective_actions" name="actions_taken" id="actions_taken" cols="30"
                              rows="7" ng-required="response.atmos_determination === 'facility_issue'"></textarea>
                  </div>
                </div>

              </div>
              <div ng-if="response.able_to_replicate === 'No'">
                <div layout="column" class="row">
                  <strong>Reason</strong>
                  <select ng-model="response.atmos_determination" name="unable_to_replicate"
                          ng-required="response.able_to_replicate === 'No'" style="">
                    <option value="Facility Replaced">Facility was altered or replaced</option>
                    <option value="Locate Error">Locate Error</option>
                  </select>
                </div>
                <div layout="column" class="row">
                  <strong>Is this facility able to be accurately marked?</strong>
                  <select ng-model="response.able_to_locate" name="able_to_locate"
                          ng-required="response.able_to_replicate === 'Yes'" style="">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
                <div ng-if="response.able_to_locate === 'Yes'" layout="column" class="row">
                  <strong>Is this line accurately marked as of today?</strong>
                  <select ng-model="response.is_line_marked" name="is_line_marked"
                          ng-required="response.isLocatable === 'Yes'" style="">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
                <div layout="column" class="row">
                  <label for="additional_comments"><strong>Comments
                    Please describe.</strong></label>
                  <textarea ng-model="response.atmos_comments" name="additional_comments"
                            id="additional_comments"
                            ng-required="response.able_to_replicate === 'No'"
                            cols="30"
                            rows="7"></textarea>
                </div>
              </div>
            </div>
          </fieldset>
          <div layout layout-align="center" style="width:700px;">
            <md-button type="submit"
                       ng-disabled="replicationForm.$invalid"
                       class="md-raised"
                       ng-class="{'active':replicationForm.$valid}"
                       ng-dblclick="false"
                       style="height: 48px; width:240px;">
              SEND
            </md-button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

