<div layout layout-align="space-between center" class="md-padding" style="width:720px;margin:1rem;">
  <h2>Replication Procedure Form</h2>
  <a ng-controller="LogOutCtrl" href="" ng-click="logout()">Sign Out</a>
</div>
<div layout layout-align="end center" class row style="margin:1rem; width:720px;">
  <div layout="column">
    <label for="dlist">Distribution List</label>
    <select ng-model="response.distribution_list" name="ditribution_list" id="dlist">
      <!--<option ng-repeat="(key,val) in distribution_lists" value="{{ list }}">{{ key }} - {{ val }}</option>-->
    </select>
  </div>
</div>
<div>
  <form name="replicationForm"
        ng-submit="sendEmail(response)">
    <fieldset class="field_set">
      <legend>
        MEETING ATTENDEES
      </legend>
      <div layout layout-align="space-between center" class="row" style="border:solid thin #849eaa;padding:1rem;">
        <div>ATMOS ENERGY REPRESENATIVE - {{ Atmos_rep }}</div>
        <div></div>

      </div>
      <div layout="column" class="row">
        <span><em>Team Leader</em></span>
        <div layout layout-align="start center">
          <div layout="column" style="margin:1rem;padding:.5rem;">
            <label for="team_leader_fname">First Name</label>
            <input ng-model="response.team_leader_fname" id="team_leader_fname" type="text" required>
          </div>
          <div layout="column">
            <label for="team_leader_lname">Last Name</label>
            <input ng-model="response.team_leader_lname" id="team_leader_lname" type="text" required>
          </div>
        </div>
      </div>
      <div layout="column" class="row">
        <span><em>Locate Technician</em></span>
        <div layout layout-align="start center">
          <div layout="column" style="margin:1rem;padding:.5rem;">
            <label for="locate_technician_fname">First Name</label>
            <input ng-model="response.locate_technician_fname" id="locate_technician_fname" type="text" required>
          </div>
          <div layout="column">
            <label for="locate_technician_lname">Last Name</label>
            <input ng-model="response.locate_technician_lname" id="locate_technician_lname" type="text" required>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="field_set">
      <legend>
        DAMAGE INFORMATION
      </legend>
      <div layout="column" class="md-padding">
        <div class="row">
          <div layout="column">
            <label for="heath_report">Heath Report Number</label>
            <input ng-model="response.heath_report" type="number" id="heath_report" required>
          </div>
        </div>
        <div layout="column" class="row">
          <span style="margin-bottom:1rem;"><em>Address Information</em></span>
          <div layout layout-align="space-between center">
            <div layout="column">
              <label for="street_number">Number</label>
              <input ng-model="response.street_number" type="number" id="street_number"
                     style="width:64px;"
                     required>
            </div>
            <div layout="column">
              <label for="street">Street</label>
              <input ng-model="response.street_name" type="text" id="street" required>
            </div>
            <div layout="column">
              <label for="street">Suffix</label>
              <select ng-model="response.street_suffix" name="street_suffix" id="street_suffix" required>
                <option value="road">Road</option>
                <option value="street">Street</option>
                <option value="drive">Drive</option>
                <option value="avenue">Avenue</option>
                <option value="boulevard">Boulevard</option>
                <option value="lane">Lane</option>
                <option value="circle">Cirlce</option>
                <option value="expressway">Expressway</option>
              </select>

            </div>
          </div>
        </div>
        <div layout class="row" layout-align="space-between center">
          <div layout="column">
            <label for="intersection">Nearest Cross Street
              <small ng-if="!response.street_number"><em style="color:indianred;">*</em></small>
            </label>
            <input ng-model="response.intersection" type="text" id="intersection" ng-required="!response.street_number">
          </div>
          <div layout="column">
            <label for="town">Town</label>
            <select ng-model="response.town" type="text" id="town" required>
              <option ng-repeat="town in towns" value="{{ town }}">{{ town }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <span><em>Facility Description</em></span>
          <div layout style="margin-top:1rem;">
            <label for="facility_size">Diameter</label>
            <select ng-model="response.facility_size" name="facility_size" id="facility_size" required>
              <option ng-repeat="size in diameters" value="{{ size }}">{{ size }}</option>

            </select>
            <label for="facility_material">Material</label>
            <select ng-model="response.facility_material" name="facility_material" id="facility_material" required>
              <option ng-repeat="material in materials" value="{{ material }}">{{ material }}</option>
            </select>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="field_set">
      <legend>REPLICATION RESULTS</legend>
      <div layout="column" class="md-padding">
        <div class="row">
          <span>Did the locate technician replicate their signal?</span>
          <select ng-model="response.able_to_replicate" name="able_to_replicate" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div ng-if="response.able_to_replicate === 'Yes'">
          <div class="row">
            <div layout="column">
              <label for="facility_issue">Please describe the facility issue.</label>
              <textarea name="facility_issue" id="facility_issue" cols="30" rows="7"></textarea>
            </div>
          </div>
        </div>
        <div ng-if="response.able_to_replicate === 'No'">
          <div class="row">
            <span>Would you describe the inaccurate markings due to a facility issue or locate error?</span>
            <select ng-model="response.replication_successful" name="replication_successful"
                    ng-required="response.equipment_used === 'Shurelock'">
              <option value="Facility Issue">Facility replaced prior to replication</option>
              <option value="Locate Error">Locate Error</option>
            </select>
          </div>
        </div>

        <div ng-if="response.replication_successful === 'Locate Error'" class="row">
          <div layout="column">
            <label for="unsuccessful_replication_coaching">Provide provide explanation:</label>
            <textarea ng-model="response.coaching_provided"
                      ng-required="response.replication_successful === 'no'"
                      name="unsuccessful_replication_coaching" id="unsuccessful_replication_coaching" cols="30"
                      rows="7"></textarea>
          </div>
        </div>
      </div>
    </fieldset>
    <div layout layout-align="center" style="width:700px;">
      <md-button type="submit" ng-disabled="replicationForm.$invalid"
                 ng-class="{disabled:replicationForm.$invalid,active:replicationForm.$valid}"
                 ng-dblclick="false"
                 style="height: 48px; width:240px;">
        SEND RESULTS
      </md-button>
    </div>
  </form>
</div>
